<!DOCTYPE html>
<html lang="ru">
<head>
    {% include "./components/head.njk" %}
</head>
<body>
    <header>
        <div class="container">
            <div class="header">
                <div class="logo">
                    <img src="../img/logo.png">
                </div>
                <nav class="menu">
                    <a href="#" class="item">
                        Инфраструктура
                    </a>
                    <a href="#" class="item">
                        Планировки и цены
                    </a>
                    <a href="#" class="item">
                        Материалы и отделка
                    </a>
                    <a href="#" class="item">
                        Документы
                    </a>
                    <a href="#" class="item">
                        Контакты
                    </a>
                </nav>
                <div class="menu-second">
                    <div class="number">
                        +7 (495) 544-23-12
                    </div>
                    <div class="call">
                        <i class="bi bi-telephone"></i>
                        <a href="#"> Заказать звонок </a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <section id="house-recording">
        <div class="container">
            <div class="heading">
                <p>
                    <span>Дом готов,</span> идёт внутренняя отделка. Срок сдачи: <span>Февраль 2016</span>
                </p>
                <p>
                    Ваша квартира в новострое ждет вас
                </p>
                <p>
                    Уютные квартиры в центре города и в <span>5 минутах от р. Волга</span>
                </p>
            </div>
            <form>
                <div class="text">Запишитесь на просмотр прямо сейчас!</div>
                <div class="text">Покажем Вам квартиры в удобное для Вас время</div>
                <div class="input">
                    <label>
                        <i class="bi bi-person-fill"></i>
                        <input type="text" placeholder="Имя" class="input">
                    </label>
                    <label>
                        <i class="bi bi-telephone"></i>
                        <input type="tel" placeholder="Телефон" class="input">
                    </label>
                    <button type="submit" class="act">Записаться на просмотр!</button>
                </div>
                <div class="last-text">Осталось всего &nbsp; <span> 5 </span> &nbsp;квартир!</div>
            </form>
        </div>
    </section>
    <section id="house-characteristics">
        <div class="container">
            <div class="menu">
                <div class="item">
                    <span> 5 минут </span> до  центра
                </div>
                <div class="item">
                    <span> 300 метров </span> до   Волги
                </div>
                <div class="item">
                    <span> Экологически  чистое </span>  место
                </div>
                <div class="item">
                    <span> Бесплатная кладовка </span> в подвале
                </div>
                <div class="item">
                    <span> Бесплатное парковочное место </span>
                </div>
                <div class="item">
                    <span>Бюджетная отделка под ключ </span> въехал и живи
                </div>
            </div>
        </div>
            <div class="menu-text">
                Дом готов. Идёт внутренняя отделка <br>
                <p> <i class="bi bi-flag-fill"></i> Срок сдачи: Февраль 2016</p>
                <img src="../img/like.png">
            </div>

    </section>
    <section id="house-location">
        <div class="container">
            <div class="wrapper">
                <h1> Идеальное расположение дома </h1>
                <p> Тихий и экологически чистый район </p>
                <div class="wrapper__menu">
                    <div class="wrapper__item">
                        <img src="../img/river.png">
                        <div class="wrapper__text">
                            <span> Близость к реке </span>
                            <p> До Волги 300 метров</p>
                        </div>
                    </div>
                    <div class="wrapper__item">
                        <img src="../img/forest.png">
                        <div class="wrapper__text">
                            <span> Зеленые зоны </span>
                            <p> Березовая роща и сосновый бор</p>
                        </div>
                    </div>
                    <div class="wrapper__item">
                        <img src="../img/playground.png">
                        <div class="wrapper__text">
                            <span> Соседи и атмосфера </span>
                            <p> Коттеджи и деревенская <br> застройка вокруг</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="house-infrastructure">
        <div class="infrastructure">
            <div class="container">
                <h1> Развитая инфраструктура </h1>
                <div class="infrastructure__menu">
                    <div class="infrastructure__item">
                        <span>Социальные объекты</span>
                        <p>Волга: 350м, центральный пляж: 900м</p>
                        <p>Авто парковка   5м.</p>
                        <p>Игровая детская площадка    2м.</p>
                        <p>4 продуктовых магазина в пределах 500м.</p>
                        <p>Центр города: 4км.</p>
                        <p>Почта 150007: 600м.</p>
                    </div>
                    <div class="infrastructure__item">
                        <span>Образовательные объекты</span>
                        <p>Детский сад №173 300м.</p>
                        <p>Школа №46 900м.</p>
                        <p>Школа №50  1300м.</p>
                        <p>Школа №97 1000м.</p>
                        <p>Гимназия №3 2400м</p>
                    </div>
                    <div class="infrastructure__item">
                        <span>Транспортные остановки</span>
                        <p>Союзная: 300м</p>
                        <p>К-тр.Дружба: 600м</p>
                        <p>Школа 50: 1100м.</p>
                    </div>
                </div>
            </div>
            <div class="infrastructure-second">
                <div class="container">
                    <div class="infrastructure-second__menu">
                        <div class="item">
                            <img src="../img/sandwatch.png">
                            <p> <span> До центра 5 минут на машине </span> <br>
                                или общ. транспорте</p>
                        </div>
                        <div class="item">
                            <img src="../img/people.png">
                            <p> <span> 3 школы и детский садик </span> <br>
                                в  шаговой доступности</p>
                        </div>
                        <div class="item">
                            <img src="../img/construction.png">
                            <p> <span> Вся необходимая инфрастуктура </span> <br>
                                продумана и обеспечена</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="house-construction">
        <div class="container">
            <div class="construction">
                <h1>Продуманная конструкция дома</h1>
                <div class="construction__menu">
                    <div class="item">
                        <h3>Заголовок про стену</h3>
                        <img src="../img/kirpich.png">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                        </p>
                    </div>
                    <div class="item">
                        <h3>Заголовок про кровлю</h3>
                        <img src="../img/roof.png">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
                        </p>
                    </div>
                    <div class="item">
                        <h3>Заголовок про канализацию</h3>
                        <img src="../img/canalization.png">
                        <p>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="complectation">
            <div class="container">
                <h1> Комплектация </h1>
                <h4> В каждой квартире </h4>
                <div class="complectation-menu">
                    <div class="item">
                        <ul>
                            <li> <i class="bi bi-patch-check"></i> Газовый котёл: Название</li>
                            <li> <i class="bi bi-patch-check"></i> Ванна: Металлическая</li>
                            <li> <i class="bi bi-patch-check"></i> Умывальник: Керамический</li>
                            <li> <i class="bi bi-patch-check"></i> Унитаз: Керамический</li>
                            <li> <i class="bi bi-patch-check"></i> Газовая плита: Четырех конфорочная</li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li> <i class="bi bi-patch-check"></i> Балкон: Застекленный</li>
                            <li> <i class="bi bi-patch-check"></i> Отделка пола: Линолеум</li>
                            <li> <i class="bi bi-patch-check"></i> Отделка пола в с/у: Плитка</li>
                            <li> <i class="bi bi-patch-check"></i> Отделка стен: Водоэмульсионная краска</li>
                        </ul>
                    </div>
                    <div class="item">
                        <ul>
                            <li> <i class="bi bi-patch-check"></i>  Дверь входная:  Стальная</li>
                            <li> <i class="bi bi-patch-check"></i> Двери межкомнатные: Деревянные</li>
                            <li> <i class="bi bi-patch-check"></i> Окна:  ПВХ</li>
                            <li> <i class="bi bi-patch-check"></i> Отделка стен в с/у: Частично плитка керамическая</li>
                            <li> <i class="bi bi-patch-check"></i> Отделка потолков: Водоэмульсионная краска</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="documents">
            <div class="container">
                <h1> У нас есть все необходимые документы </h1>
                <p> Обеспечивающую надежность и вашу защиту </p>
                <div class="documents-menu">
                    <img src="../img/firstdocument.png">
                    <img src="../img/seconddocument.png">
                    <img src="../img/thirddocument.png">
                    <img src="../img/fourthdocument.png">
                </div>
            </div>
        </div>
    </section>
    <footer>
        <div class="container">
            <div class="footer">
                <div class="logo">
                    <img src="../img/house2.png">
                </div>
                    <div class="item">
                        <p class="defense">
                            2015 Все права защищены <br>
                            <span>Политика конфиденциальности</span>
                        </p>
                    </div>
                    <div class="item">

                        <p>
                            <i class="bi bi-geo-alt"></i>
                            <span>Адрес офиса:</span> <br>
                            Ярославская область <br>
                            р-н Заволжский, ул.3-я Тверицкаяд.32 <br>
                        </p>
                        <p>
                            <span>E-mail: </span>info@sitename.ru
                        </p>
                    </div>
                <div class="footer__end">
                    <div class="number">
                        +7 (495) 544-23-12
                    </div>
                    <div class="call">
                        <i class="bi bi-telephone"></i>
                        <a href="#"> Заказать звонок </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>